{% extends 'base.html' %}

{% block main %}

<div class="container-fluid">
    <h5>Banco de Horas:</h5>
    {% for registro_hora in object_list %}
    <li>
        <a href="{% url 'update_hora_extra' registro_hora.id %}">
            {{registro_hora}}
        </a>
    </li>
    {% endfor %}
    {% if not object_list %}
        <h5>Não existem registros de hora extra no banco de dados.</h5>
    {% endif%}
    <a href="{% url 'create_hora_extra' %}" class="btn btn-info">Novo</a>
</div>
{% endblock %}